.btn {
	font-size: 16px;
	width: 108px;
	height: 40px;
	border-radius: 5px;
	background-image: linear-gradient(#3d9cfe, #075dfb);
	color: #fff;
	box-sizing: content-box;
	border: 2px solid;
	border-color: white;
	transition: .2s;

	&:focus {
		border-color: lightblue;
	}

	&:hover {
		background-image: linear-gradient(#5dafff, #2a73fc);
	}

	&:active {
		background-image: linear-gradient(#3687d9, #054fd5);
	}

	&:disabled {
		background: #c4c4c4;
		cursor: not-allowed;
	}
}